# Plotting
**.pdf
**.png
**.plt
**.jpg

# Latex
**.bcf
**.blg
**.fls
**.log
**.nav
**.out
**.fdb_latexmk
**.aux
**.gz

# MMTK
**.nc
**.so

# Poster
**.asy
**.pptx
**.toc
**.snm
**.run.xml
*.lot
Final Report/chem_494_final_report_1st_draft.bbl
*.lof
